.newQuestionContainer {
  width: 50%;
  margin: auto;
  padding: 50px;
}

.newQuestionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
}

.newQuestionForm ul {
  list-style: none;
}

.choiceInput {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background: #ccc; */
}
.choicesListWrapper {
  width: 80%;
  margin: 10px auto;
  background-color: #f7fafc;
}

.choicesListWrapper ul {
  padding: 0;
  margin: 0 auto;
}
.choicesList {
  width: 70%;
}
.choicesList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionInput,
.choiceInput {
  width: 90%;
  padding: 30px 0;
}

.questionInput input,
.choiceInput input {
  width: 80%;
  padding: 10px;
  border: none;
}
.inputGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
}

.input {
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.addChoiceBtn {
  width: 110px;
  border: none;
  margin-left: 10px;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  background: rgb(0, 41, 55);
  color: #fff;
}
.addChoiceBtn:hover {
  cursor: pointer;
}

.removeBtn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background-color: #e2e8f0;
}
.removeBtn:hover {
  cursor: pointer;
}
.submitButton {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(0, 41, 55);
  color: #fff;
}

.submitButton:hover {
  cursor: pointer;
}

.submitButton:disabled,
.submitButton[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #2d3748;
}
.submitButton[disabled]:hover {
  cursor: not-allowed;
}

@media only screen and (max-width: 900px) {
  .questionInput,
  .choiceInput {
    width: 90%;
  }
  .newQuestionContainer {
    width: 90%;
    margin: auto;
    padding: 20px 0;
  }
}
