.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  font-size: 100px;
}

.message h2 {
  text-transform: capitalize;
}

.link {
  padding: 20px;
  margin: 30px auto 0;
  display: block;
  max-width: 250px;
  border-radius: 20px;
  background-color: #00cea5;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .status {
    font-size: 75px;
  }
}
