.container {
  width: 90%;
  margin: auto;
}

.questionWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .questionWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .questionWrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .questionWrapper {
    grid-template-columns: 1fr;
  }
}
