.container {
  width: 90%;
  margin: auto;
}

.title {
  background-color: rgb(0, 41, 55);
  color: #fff;
  height: 70px;
  margin: 50px;
  text-align: center;
  line-height: 2;
}

.questionWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  width: 90%;
  margin: auto;
}
